canvas {
    border: solid blue;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
    font-family: fantasy;
}

.left {
    float: left;
    margin-right: 5%;
    margin-left: 5%;
}

.right {
    margin-left: 5%;
}

.up {
    /* width: max-content; */
    margin-bottom: 20%;
}
.down{
    /* width: max-content; */
    margin-top: 20%;

}

.emoji {
    font-size: 30px;
}
