canvas {
    border: solid blue;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1, h2 {
    font-family: fantasy;
}

.left {
    float: left;
    margin-right: 5%;
    margin-left: 5%;
}

.right {
    margin-left: 5%;
}
